<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Products List</h1>
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/formProducts}" class="btn btn-primary">Add New Product</a>
        </div>

        <form method="get" class="mt-2" th:action="@{/index}">
            <input type="text" name="keyword" th:value="${keyword}">
            <button class="btn btn-success" type="submit">Search</button>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th sec:authorize="hasRole('ADMIN')">Action</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="p:${products}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.price}"></td>
                <td th:text="${p.quantity}"></td>
                <td sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/delete(id=${p.id})}" class="btn btn-danger">Delete</a>
                    <a th:href="@{/editProduct(id=${p.id})}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
            </tbody>



        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" th:each="page, status : ${pages}" th:class="${status.index==currentPage?'active':''}">
                    <a class="page-link" th:href="@{index(page=${status.index},keyword=${keyword})}" th:text="${status.index + 1}" >
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</body>
</html>