<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <h1>Products List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="p:${products}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.price}"></td>
                <td th:text="${p.quantity}"></td>
                <td>
                    <a th:href="@{/delete(id=${p.id})}" class="btn btn-danger">Delete</a>
                    <a th:href="@{/editProduct(id=${p.id})}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        </tbody>



    </table>
</body>
</html>